/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');


/* CSS Variable */

:root{
    --primary-font: "Bebas Neue", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --primary-color: #2c2b2b; /* Dark Grey */
    --secondary-color: #CCCCCC; /* Light Grey */
    --highlight-color: #8c52ff; /* Purple */
    --highlight-color-light: #b2a1ec; /* Light Purple */
}


/* Global styles */

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 66px; /* Added to push down the header to compensate for the fixed navbar */
}

h1, h2, h3, h4, h5 {
    font-family: var(--primary-font);
    color:var(--highlight-color);
}

.hidden-header {
    display: none; /* Added to hide header that do not need to be displayed */
}


/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 40px;
}


/* Header */

#header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(../images/stage-lighting.png);
    background-size: cover;
    background-color: var(--secondary-color);
}

#header h2 {
    color: var(--highlight-color-light);
}

#header p {
    font-family: var(--secondary-font);
    background-color: var(--secondary-color);
    padding: 7px 7px 7px 7px;
}


/* Carousel */

#carouselExampleAutoplaying {
    text-align: center;
    padding-top: 1rem;
}


/* Creative Genres */

#creative-genres {
    padding-top: 1rem;
    padding-bottom: 1rem;
    scroll-margin-top: 4rem; /* added to stop section header being covered by the fixed navigation */
}

#creative-genres h3 {
    color: var(--highlight-color);
}

#creative-genres h4 {
    color: var(--highlight-color);
}

#creative-genres p {
    font-family: var(--secondary-font);
}

#creative-genres .card {
    margin: 1rem;
}


/* Events Section */

#events {
    background-color: var(--secondary-color);
    background-image: url(../images/theatre-audience.jpeg);
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
    scroll-margin-top: 4rem;
}

#events h4 {
    background-color: var(--highlight-color);
    color: white;
    padding: 10px 10px 10px 10px;
}

#events h3 {
    background-color: black;
    color: var(--highlight-color);
    padding: 10px 10px 10px 10px;
}

#events p {
    background-color: var(--secondary-color);
    padding: 10px 10px 10px 10px;
}

#events p {
    font-family: var(--secondary-font);
}

#events .table {
    /* Setting font small enough that the table doesn't overrun on xs screens. 
    Size is reset in a media query for when the screen size is bigger */
    font-family: var(--secondary-font);
    font-size: 0.7rem;
}


/* Get Involved Section */

#get-involved {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#get-involved h5 {
    background-color: var(--highlight-color);
    color: white;
}

#get-involved p {
    font-family: var(--secondary-font);
}

#get-involved .card {
    margin: 1rem;
}


/* Gallery Layout */

#gallery-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(../images/stage-lighting.png);
    background-size: cover;
    background-color: var(--secondary-color);
}

#gallery-carousel {
    width: 75%;
    margin: auto;
}

#gallery-header h1 {
    background-color: rgba(0,0,0,.8);
}

#gallery img {
    width: 50%;
    line-height: 1em;
}

#photo-gallery {
    padding-top: 5px;
    padding-bottom: 5px;
}

#photo-gallery .card {
    margin: 10px;
}

#gallery-buttons {
    padding: 5px 5px 5px 5px;
}


/* Contact page layout */

#contact-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(../images/stage-lighting.png);
    background-size: cover;
    background-color: var(--secondary-color);
}

#contact-header h2 {
    color: var(--highlight-color-light);
}

#contact-header p {
    font-family: var(--secondary-font);
    background-color: var(--secondary-color);
    padding: 7px 7px 7px 7px;
}

#contact-forms {
    padding: 20px 20px 20px 20px;
}

#contact-us {
    background-color: var(--secondary-color);
    padding: 20px 20px 20px 20px;
    scroll-margin-top: 4rem;
}

#contact-us h2 {
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
 }

#contact-us .button {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

#booking-form {
    background-color: #dad1f8;
    padding: 20px 20px 20px 20px;
    scroll-margin-top: 4rem;
}

#booking-form h2 {
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

#booking-form .button {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}


/* Success page */

#success-header {
    padding-top: 1rem;
}

#success h2 {
    color: var(--highlight-color-light);
}

#success p {
    font-family: var(--secondary-font);
}

#success .button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

#logo .card {
    margin: auto;
    border: 0;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}


/* About page section */

#about-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(../images/stage-lighting.png);
    background-size: cover;
    background-color: var(--secondary-color);
}

#about-header h2 {
    color: var(--highlight-color-light);
}

#about-header p {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    padding: 7px 7px 7px 7px;
}

#our-aims {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--secondary-font);
}

#our-aims h3 {
    color: var(--highlight-color);
}

#our-aims p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#our-aims .card {
    margin: auto;
    display: flex;
    align-self: center;
    width: 90%;
}

#our-aims .card-header {
    background-color: var(--highlight-color);
    color: white;
}

#about-get-involved {
    background-color: var(--secondary-color);
    background-image: url(../images/theatre-audience.jpeg);
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#about-get-involved h5 {
    background-color: var(--highlight-color);
    color: white;
}

#about-get-involved p {
    font-family: var(--secondary-font);
}

#about-get-involved .card {
    margin: 1rem;
}


/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color-light);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--secondary-color-light);
    color: white;
}


/* Footer */

#contact {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#contact .card-body {
    border: 0px;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: white;
}

#contact .social-links {
    background-color: var(--primary-color);
}

#contact .social-links i {
    color: white;
    font-size: 2.5rem;
    padding: .5rem;
}

#contact .card {
    border: 0px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-family: var(--primary-font);
}

#contact h2 {
    color: white;
}

#emailHelp {
    color: var(--highlight-color-light);
}


/* Media queries */

/* Small screens and up (min-width 576px) */

@media screen and (max-width: 576px) {
    /* Make footer centered and text smaller on small screens */
    #contact {
        text-align: center;
        font-size: 80%;
     }
    }

@media screen and (min-width: 576px) {
    /* Increases font size in tables when screens are big enough */
    #events .table {
        font-size: 1rem;
    }
}


/* Medium screens and up (min-width 768px) */

@media screen and (min-width: 768px) {
    /* Make the logo fit the screen better and not too big */
    #logo .card {
    max-width: 50%;
    }
}


/* Large screens and up (min-width 992px) */

@media screen and (min-width: 992px) {
    /* Make the Get Involved cards the same height */
    #get-involved .card-body {
        min-height: auto;
    }
}

@media screen and (min-width: 992px) {
    /* Make the logo fit the screen better and not too big */
    #logo .card {
    max-width: 40%;
    }
}


/* XL screens and up (min-width 1200px) */

@media screen and (min-width: 1200px) {
    /* Make the Get Involved cards the same height */
    #get-involved .card-body {
        min-height: 256px;
    }
}

@media screen and (min-width: 1200px) {
    /* Make the Get Involved cards the same height */
    #logo .card {
    max-width: 30%;
    }
}